.card{
    border-style: solid;
    box-sizing: border-box;
    width: 30%;
    margin-bottom: 20px;
    display: flex;
    overflow: hidden;
    word-wrap: break-word;
}


.gallery--avatar{
    border-radius: 50%;
}

.username{
    display: none;
}