[class^="modal__overlay"] {
    opacity: 0;
    z-index: -100;
    transform: scale (.4);
    transition: .8s;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[name=employee-modal-slides]{
    display: none;
}

@for $i from 1 through 12{
    #modal-#{$i}__trigger:checked ~ .modal__overlay-#{$i}{
        opacity: 1;
        transform: scale(1);
        z-index: 100;
    }
}


[id^="slide"]:checked +slide {
    left: 0;
}

.overlay--inner{
    background-color: white;
    width: 35%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.overlay--inner * {
    width: 100%;
    display: flex;
    justify-content: center;
}

.overlay--inner img {
    width: 200px;
}

.overlay--inner hr {
    width: 90%;
}

.overlay--avatar{
    border-radius: 50%;
}

.modal--nav{
    margin-bottom: 20px;
}