@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
    color: grey;
    font-family: $open-sans;
}

.nav a{
    color: black;
    font-weight: lighter;
}

.nav li:first-child a{
    color: white;
}

.headline--secondary{
    font-size: 10pt;
    font-weight:normal;
    text-decoration: none;
}

#type, #forms{
    margin-left: 10px;
}

.headline--primary{
    @extend %headlines;
    margin-bottom: 25px;
    margin-left: 30px;
}

a{
    @extend %links;
    font-weight: bold;
}

.blockquote{
    border-left: 10px solid;
    border-color: $sideline;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 30px;
    font-size: 1.4em;
    font-weight: bold;
    font-style: italic;
}